[Unit]
Description=Hive Metastore
After=network-online.target

[Service]
Type=simple
User=hive
Group=hive
EnvironmentFile=/etc/conf.d/apache-hive
ExecStart=/opt/apache-hive/bin/hive --service metastore --hiveconf hive.root.logger=INFO,console

[Install]
WantedBy=multi-user.target
